@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

:root{
    --dark-color : #000;
    --dark-secondary : #303030;
    --text-primary : #fff;
    --text-secondary : #AAAAAA;
    font-size: 14px;
}
body{
    background: var(--dark-color);
    height: 100vh;
}


/* --nav-section-- */

.nav-container{
    display: flex;
    /* border: 2px solid white; */
    justify-content: space-between;
    align-items: center;
    height: 8vh;    
    margin-inline: 2vw;
}
.nav-start-items > button, .mic > button, .searchbox > button, .nav-end-logos-container > button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    /* outline: ; */
}
.nav-start-items > button{
    margin-right:25px;
}
.search-box-mic-container{
    display: flex;
    align-items: center;
}
.searchbox{
    display: flex;
    align-items: center;
    width: 45vw;
}
.search-box-btn{
    display: flex;
    align-items: center;
}
.searchbox > .search-box-btn > input{
    width: 90%;
    padding: 10px 20px;
    font-size: 1.025em;
    border: none;
    color: var(--text-primary);
    background-color: #121212;
    border: 1px solid #121212;
}
.searchbox :focus{
    outline: 1px solid rgba(0, 140, 255, 0.956);
}
.searchbox > button{
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    width: 90%;
    background-color: #121212;
    padding: 5.75px 15px;
}
.searchbox > .search-btn{
    padding: 11px 15px;
    background-color: var(--dark-secondary);
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    width: 10%;
    margin-right: 0.5rem;
}

.mic {
    background-color: var(--dark-secondary);
    border: none;
    border-radius: 50%;
    padding: 7px 8.5px;
}

.nav-end-logos-container{
    display: flex;
    justify-content: space-between;
    width: 10.5vw;
}
.user-logo{
    border-radius: 50%;
}


/* --side-bar-section-- */

.side-bar-container{
    /* border: 2px solid white; */
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 89.5vh;
    overflow-y: auto;
    white-space: nowrap;
}
.side-bar-container::-webkit-scrollbar{
    display: none;
}
.side-bar-menu-items{
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--text-primary);
    margin: 15px 0px;
    width: 100%;
}
.side-bar-menu-items > .img{
    margin: 0px 17px;
    fill: #fff;
}

.side-bar-section-1, .side-bar-section-2, .side-bar-section-4, .side-bar-section-5{
    border: none;
    width: 15%;
    border-bottom: 0.5px solid var(--dark-secondary);
}

/* collapsed-sidebar */
.side-bar-menu-items-collapsed{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 2px solid white; */
    align-items: center;
    min-height: 10vh;
    width: 6vw;
    margin-top: 1rem;
}
.collapsed-side-bar-menu-items-title{
    color: var(--text-primary);
    font-size:75%;
}
.side-bar-menu-items-collapsed > .img{
    fill: white;
    /* width: 25%; */
}



/* --filter-section-- */
.filters-container{
    /* border: 2px solid white; */
    height: 8vh;
    position: absolute;
    width: 84vw;
    top: 8vh;
    left: 15vw;
    margin-left: auto;
    color: var(--text-primary);
    display: flex;
}
.filters-container > #go-right-btn{
    background-color: transparent;
    border: none;
    padding: 10px;
}
.filters{
    display: flex;
    gap: 10px;
    overflow-x: auto;
    white-space: nowrap;
    padding-inline: 10px;
    align-items: center;
}
.filters::-webkit-scrollbar{
    display: none;
}
.filter-items{
    cursor: pointer;
    background-color: var(--dark-secondary);
    padding: 5px 10px;
    border-radius: 5px;
    margin-inline: 2px;
    color: var(--text-primary);
}
.active-filter{
    background-color: var(--text-primary);
    color: var(--dark-secondary);
    font-weight: 700;
}

/* ---Video-Section--- */

.video-container{
    /* border: 2px solid white; */
    height: 82vh;
    width: 80vw;
    position: absolute;
    bottom: 0;
    left: 15vw;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: wrap;
    padding-inline: 2vw;
    overflow-y: auto;
}
.video-container > .videos > a{
    text-decoration: none;
}
.video-container::-webkit-scrollbar{
    display: none;
}

.videos{
    display: flex;
    flex-direction: column;
    max-width: 20vw;
    cursor: pointer;
    height: 40vh;
    margin-bottom: 2rem;
    text-decoration: none;
}
.thumbnail > img{
    width: 20vw;
}
.chanel-logo > img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
.title-chanel{
    margin-top: 4px;
    color: var(--text-primary);
    max-width: 23vw;
    text-decoration: none;
    margin-bottom: 4px;
    display: flex;
    align-items: center;
}
.chanel-stat{
    text-decoration: none;
    padding-left: 49px;
    color: var(--text-secondary);
}